@charset "utf-8";
/*= Reset =*/
html {
	color: #000;
	background: #FFF;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal
}

ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit
}

input,textarea,select {
	*font-size: 100%
}

legend {
	color: #000
}
/*= base =*/
::selection {
	background: #FD8712;
	color: #fff;
}

::-moz-selection {
	background: #FD8712;
	color: #fff;
}

body {
	font-size: 12px;
	font-family: "Arial";
	background: #fff;
	color: #333;
	line-height: 24px;
}

a:link,a:visited {
	color: #333;
	text-decoration: none
}

a:hover {
	color: #000;
	text-decoration: underline
}

.fl {
	float: left
}

.fr {
	float: right
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

.clear-left {
	clear: left
}

.clear-right {
	clear: right
}

.clear {
	clear: both
}

.oh {
	overflow: hidden
}

.h5 {
	height: 5px
}

.h10 {
	height: 10px
}

.h15 {
	height: 15px
}

.h20 {
	height: 20px
}

.h25 {
	height: 25px
}

.h30 {
	height: 30px
}

.h35 {
	height: 35px
}

.w5 {
	width: 5px
}

.w10 {
	width: 10px
}

.w15 {
	width: 15px
}

.w20 {
	width: 20px
}

.w25 {
	width: 25px
}

.w30 {
	width: 30px
}

.w35 {
	width: 35px
}

.p5 {
	padding: 5px
}

.p10 {
	padding: 10px
}

.p15 {
	padding: 15px
}

.p20 {
	padding: 20px
}

.p25 {
	padding: 25px
}

.p30 {
	padding: 30px
}

.p35 {
	padding: 35px
}

.m5 {
	margin: 5px
}

.m10 {
	margin: 10px
}

.m15 {
	margin: 15px
}

.m20 {
	margin: 20px
}

.m25 {
	margin: 25px
}

.m30 {
	margin: 30px
}

.m35 {
	margin: 35px
}

.fs10 {
	font-size: 10px
}

.fs12 {
	font-size: 12px
}

.fs14 {
	font-size: 14px
}

.fs16 {
	font-size: 16px
}

.fs18 {
	font-size: 18px
}

.fs20 {
	font-size: 20px
}

.fs22 {
	font-size: 22px
}

.fs24 {
	font-size: 24px
}

.red {
	color: red
}

.green {
	color: green
}

.gray {
	color: gray
}

.black {
	color: black
}

.white {
	color: white
}

.yellow {
	color: yellow
}

.orange {
	color: #fd8712
}

.blue {
	color: blue
}

.fwb {
	font-weight: 700
}

.yahei {
	font-family: "Microsoft YaHei"
}

.simson {
	font-family: "simSom"
}

.ti2em {
	text-indent: 2em
}

.hide {
	display: none
}

.show {
	display: block
}

.invisible {
	visibility: hidden
}

.no-border {
	border: none
}
/*button*/
.btn {
	display: inline-block;
	*display: inline;
	padding: 0 20px 0 0;
	background-image: url(../images/btn.png);
	background-position: right -35px;
	height: 35px;
	text-align: center;
	line-height: 33px;
	text-shadow: 1px 1px 0 #fff;
	cursor: pointer;
	font-size: 14px;
	margin-left: 5px;
}

.btn span {
	display: inline-block;
	*display: inline;
	background-image: url(../images/btn.png);
	background-position: 0 0;
	padding: 0 0 0 20px;
	height: 35px;
}

.btn:hover {
	background-position: right -105px;
}

.btn:hover span {
	background-position: 0 -70px;
}

.btn:active {
	background-position: right -175px;
}

.btn:active span {
	background-position: 0 -140px;
}

.btn[disabled] {
	cursor: not-allowed;
}

.btn[disabled] span {
	color: #ccc;
}

.btn[disabled]:hover {
	background-position: right -35px;
}

.btn[disabled]:hover span {
	background-position: 0 0;
}

.btn-warning {
	background-image: url(../images/btn-warning.png);
}

.btn-warning span {
	background-image: url(../images/btn-warning.png);
	color: #fff;
	text-shadow: 0 -1px 0 #DF6C00
}

.btn-xxlarge span {
	width: 200px;
}

.btn-xlarge span {
	width: 160px;
}

.btn-large span {
	width: 120px;
}

.btn-medium span {
	width: 80px;
}

.btn-small span {
	width: 40px;
}

.btn-small-warning {
	display: inline-block;
	*display: inline;
	background: url(../images/btn-small.png) no-repeat 0 -22px;
	padding-left: 10px;
	height: 22px;
	line-height: 22px;
}

.btn-small-warning span {
	display: inline-block;
	*display: inline;
	background: url(../images/btn-small.png) no-repeat right 0;
	padding-right: 10px;
	height: 22px;
	color: #fff;
}

.btn-small-warning:hover {
	background-position: 0 -66px
}

.btn-small-warning:hover span {
	background-position: right -44px;
}
/*icon*/
.icon {
	display: inline-block;
	*display: inline;
	background-image: url(../images/icons.png);
	background-repeat: no-repeat;
	margin-right: 10px;
}

.icon-large-ok {
	padding: 17px;
	background-position: 0 0;
}

.icon-large-warning {
	padding: 17px;
	background-position: -32px 0;
}

.icon-large-info {
	padding: 17px;
	background-position: -66px 0;
}

.icon-medium-ok {
	padding: 9px;
	background-position: -7px -34px;
}

.icon-medium-warning {
	padding: 9px;
	background-position: -40px -34px;
}

.icon-medium-info {
	padding: 9px;
	background-position: -74px -34px;
}

.icon-small-ok {
	padding: 7px;
	background-position: -9px -54px;
}

.icon-small-warning {
	padding: 7px;
	background-position: -42px -54px;
}

.icon-small-info {
	padding: 7px;
	background-position: -76px -54px;
}
/*
**通用
*/
body {
	font-family: "Microsoft YaHei";
}

.w1000 {
	width: 1000px;
	margin: 0 auto;
}

.w960 {
	width: 960px;
	margin: 0 auto;
}

.w740 {
	width: 740px;
	margin: 0 auto;
}

.w250 {
	width: 250px;
	margin: 0 auto;
}

.loading {
	background: url(../images/loading.gif) no-repeat center center;
	padding: 2px 8px;
}
/*
**全局顶部
*/
.topnav {
	height: 30px;
	line-height: 30px;
	background: #f9f9f9;
	border-bottom: 1px solid #eee;
	color: #666;
}

.topnav a:link,.topnav a:visited {
	color: #666;
}

.topnav a:hover {
	color: #c00;
	text-decoration: none;
}

.topnav-left .app-box {
	color: #999
}

.topnav-left a {
	padding: 0 8px 0 20px;
}

.topnav-left .phone-app {
	background: url(../images/icon-phone.gif) 8px center no-repeat;
}

.topnav-left .cart {
	background: url(../images/icon-cart.gif) 6px center no-repeat;
}

.topnav-right {
	color: #999
}

.topnav-right a {
	padding: 0 10px;
}

.topnav-right .user-box a:link,.topnav-right .user-box a:visited {
	color: #ff5400
}

.topnav-right .user-box a:hover {
	color: #c00;
}

.topnav .share {
	background-image: url(../images/icon-share.gif);
	background-repeat: no-repeat;
}

.topnav .weibo {
	background-position: 0 0;
}

.topnav .sohu {
	background-position: 0 -16px;
}

.topnav .qrcode {
	background-position: 0 -32px;
	position: relative;
	z-index: 222;
}

.topnav .qrcode span {
	position: absolute;
	top: 32px;
	right: 0;
	z-index: 999;
	background-color: #fff;
	color: #666;
	line-height: 16px;
	box-shadow: 0 1px 5px #ccc;
	display: none;
	width: 300px;
	height: 320px;
}

.topnav .qrcode span img {
	width: 300px;
	height: 300px;
	display: block;
}
/*
**全局-页脚
*/
.footer {
	background: #fff;
	border-top: 1px solid #DDD;
	padding: 12px 0 50px;
}

.footer-nav {
	text-align: center;
	color: #999;
}

.footer-nav a {
	padding: 0 16px;
	color: #585858
}

.footer .service {
	text-align: center;
	color: #999
}

.footer .service a {
	color: #999
}

.cert {
	text-align: center
}

.cert span {
	padding: 0 6px
}

.cert span a {
	background-image: url(../images/cert.gif);
}

.cert .c1 a {
	background-position: 0 38px;
	padding: 10px 18px;
}

.cert .c2 a {
	background-position: -44px 38px;
	padding: 10px 32px;
}

.cert .c3 a {
	background-position: -118px 38px;
	padding: 10px 32px;
}

.cert .c4 a {
	background-position: -190px 38px;
	padding: 10px 12px;
}

.cert .c5 a {
	background-position: -236px 38px;
	padding: 10px 26px;
}

.cert .c6 a {
	background-position: -310px 38px;
	padding: 10px 15px;
}

.cert .c7 a {
	background-position: -345px 38px;
	padding: 10px 40px;
}

.cert .c8 a {
	background-position: -430px 38px;
	padding: 10px 15px;
}

.cert .c1 a:hover {
	background-position: 0 0;
	padding: 10px 18px;
}

.cert .c2 a:hover {
	background-position: -44px 0;
	padding: 10px 32px;
}

.cert .c3 a:hover {
	background-position: -118px 0;
	padding: 10px 32px;
}

.cert .c4 a:hover {
	background-position: -190px 0;
	padding: 10px 12px;
}

.cert .c5 a:hover {
	background-position: -236px 0;
	padding: 10px 26px;
}

.cert .c6 a:hover {
	background-position: -310px 0;
	padding: 10px 15px;
}

.cert .c7 a:hover {
	background-position: -345px 0;
	padding: 10px 40px;
}

.cert .c8 a:hover {
	background-position: -430px 0;
	padding: 10px 15px;
}
/*
**全局-没有登录显示
*/
.nologin-box {
	padding: 10px 0;
	text-align: center;
}

.nologin-box .des {
	font-size: 18px;
	color: #666
}

.nologin-box .links {
	color: #ccc;
	font-size: 18px;
}

.nologin-box .links a {
	padding: 0 10px;
}

.nologin-box .links a:link,.nologin-box .links a:visited {
	color: #ff5400;
}

.nologin-box .links a:hover {
	color: #c00
}
/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */
#basic-modal-content {
	display: none;
}

/* Overlay */
#simplemodal-overlay {
	background-color: #000;
}

/* Container */
#simplemodal-container {
	width: 600px;
	color: #333;
	background-color: #fff;
	border: 1px solid #A3A3A3;
	margin-top: -150px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
}

#simplemodal-container .simplemodal-data {
	
}

#simplemodal-container code {
	background: #141414;
	border-left: 3px solid #65B43D;
	color: #bbb;
	display: block;
	font-size: 12px;
	margin-bottom: 12px;
	padding: 4px 6px 6px;
}

#simplemodal-container a {
	color: #333;
	text-decoration: none;
}

#simplemodal-container a.modalCloseImg {
	background: url(../images/x.gif) no-repeat;
	width: 25px;
	height: 29px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: 2px;
	right: 10px;
	cursor: pointer;
}

#simplemodal-container a.modalCloseImg:hover {
	opacity: 0.8;
	filter: alpha(opacity = 80)
}

#simplemodal-container h3 {
	color: #84b8d9;
}

#simplemodal-container .modalBoxTitle {
	font-size: 16px;
	font-weight: normal;
	color: #999;
	padding: 5px 0;
	text-indent: 16px;
	border-bottom: 1px solid #eee
}

#simplemodal-container .modalBoxContent {
	padding: 20px 16px;
	font-size: 14px;
	line-height: 30px
}

#simplemodal-container .modalBoxFooter {
	background: #F5F5F5;
	border-top: 1px solid #ddd;
	padding: 6px 12px;
	text-align: right;
	border-radius: 0 0 6px 6px;
}

/*pagenav*/
.pagenav {
	clear: both;
	text-align: center
}

.pagenav a,.pagenav span {
	background: #fff;
	border: 1px solid #ddd;
	padding: 2px 8px;
	text-decoration: none;
}

.pagenav a:hover,.pagenav .sel {
	background: #F26100;
	color: #fff;
}

/*login popbox*/
.masklayer {
	background: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9998;
	filter: alpha(opacity = 50);
	display: none;
}

.popbox {
	display: none;
	position: absolute;
	top: 200px;
	left: 50%;
	z-index: 9999;
	border-radius: 6px;
}

.popbox .tit {
	font-size: 16px;
	color: #999;
	padding: 5px 0;
	text-indent: 16px;
	border-bottom: 1px solid #eee;
	position: relative
}

.popbox .tit .close {
	position: absolute;
	right: 12px;
	top: 8px;
	background: url(../images/x.gif) no-repeat center center;
	padding: 8px;
	cursor: pointer;
}

.popbox .tit .close:hover {
	opacity: 0.8
}

.popbox .main {
	padding: 20px 16px;
	font-size: 14px;
}

.popbox .main .inpt {
	border: 1px solid #CCC;
	padding: 4px;
	width: 200px;
}

.login-popup {
	width: 560px;
	margin-left: -280px;
	background: #fff;
}

.login-popup .tit strong {
	background: url(../images/user.png) no-repeat left center;
	padding-left: 18px;
}

.login-popup .loginbox {
	float: left;
	width: 253px;
	border-right: 1px dashed #ddd;
	padding-left: 20px;
	padding-right: 50px;
	padding-bottom: 30px;
}

.login-popup .loginbox p {
	padding: 6px 0;
}

.login-popup .regbox {
	float: right;
	width: 160px;
}
