<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cloudapp.core.dao.CallerCategoryDao">

	<resultMap id="BaseResultMap" type="com.cloudapp.core.entity.CallerCategory">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="customer_id" property="customerId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, customer_id, `name`
		from tb_caller_category
	</sql>
	
	<select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		where 
		id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from tb_caller_category
		where 
		id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="com.cloudapp.core.entity.CallerCategory" useGeneratedKeys="true" keyProperty="id">
		insert into tb_caller_category
		(id, customer_id, `name`)
		values 
		(#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
	</insert>
	
	<update id="update" parameterType="com.cloudapp.core.entity.CallerCategory">
		update tb_caller_category
		<set>
			<if test="name != null and name != ''">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="findAll" parameterType="com.cloudapp.core.entity.CallerCategory"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		where
		<if test="customerId != null">
			customer_id = #{customerId,jdbcType=INTEGER} and
		</if>
		<if test="name != null and name !=''">
			name = #{name,jdbcType=VARCHAR} and
		</if>
		1 order by id
	</select>
	
	<select id="findPage" parameterType="Page" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		where
		<if test="bean.customerId != null">
			customer_id = #{bean.customerId,jdbcType=INTEGER} and
		</if>
		<if test="bean.name != null and bean.name !=''">
			name = #{bean.name,jdbcType=VARCHAR} and
		</if>
		1 order by id
	</select>
</mapper>